<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <title>LCU Competition</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <div class="top-container">
        <div class="container py-3">
            <!-- Card Start -->
            <div class="card">
                <div class="row ">
                    <div class="col-md-7 px-3">
                        <div class="card-block px-6" style="padding-left:20px; padding-top:10px">
                            <div class="card-title">
                                <h3>Lion City Univeristy Judging Platform</h3>
                                <hr />
                            </div>
                            <p class="card-text">
                                <h5>A judging platform by the Lion City University</h5>
                            </p>
                            <p class="card-text">
                                The LCU Judging platform is a newly made judging platform by the Lion City University for competitors.
                            </p>
                            <p class="card-text">
                                Students and teachers from the Lion City University are free to sign up as a competitor or a judge respectively.
                            </p>
                            <br>
                            <a href="~/Home/Login" class="mt-auto btn btn-primary">Click here to Login!</a>
                        </div>
                    </div>
                    <!-- Carousel start -->
                    <div class="col-md-5">
                        <img src="~/images/Index/LionCityLogo.jpg" style="width:450px; height: 340px;" alt="Judges">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>