<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/Index">
        <img src="~/images/Index/LionCityLogo.jpg" alt="logo" style="width:40px; height:40px;">
    </a>
    <a class="navbar-brand" href="~/Home/Index" style="padding-right:30px">
        <h4>LCU Competition Board</h4>
    </a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <!-- Links that are aligned to the left, mr-auto: right margin auto-adjusted -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="~/JoinView/Index">View Competitions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/InProgress">View Rankings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/InProgress">Voting</a>
        </li>
    </ul>
    <!-- Links that are aligned to the right,ml-auto: left margin auto-adjusted -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <!-- A link for logging in user -->
            <a class="nav-link" href="~/Home/Login">Log In</a>
        </li>
    </ul>
</nav>